<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 4.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>易网通报关系统</title>

<link href="../css/customsDeclaration.css" rel="stylesheet" type="text/css" />
</head>

<body class="right_body">



	<div class="path">您现在的位置： 首页 &gt; 报关系统 &gt; 基础数据 &gt; 委托书导入模板</div>
	
	<div class="top_button_div">
	  <input name="" type="button" class="add_commission" onclick='location="新增委托书导入模板.html"'  />
		<input name="" type="button" class="edit_commission" onclick='location="新增委托书导入模板.html"'  />
		<input name="" type="button" class="delete_commission"  />
	</div>
	
	<div class="search">
		<h2>
			<span class="fl">委托书模板查询</span>
			<span class="fr"><input name="" type="button" class="search_button" /><input name="" type="button" class="purge_button" /></span><!--  span里无内容时，此span不能删除  -->
		</h2>
		
		<ul>
			<li><div class="w_s">模板编号：</div><input name="" type="text" class="input_w" /></li>
			<li><div class="w_s">模板名称：</div><input name="" type="text" class="input_w" /></li>
			<li><div class="w_s">创建人：</div><input name="" type="text" class="input_w" /></li>
		</ul>
	</div>
	
	<div class="data_list">
		<h2>
			<span class="fl">委托书模板列表</span>
			<span class="fr"></span><!--  span里无内容时，此span不能删除  -->
		</h2>
		
		<div class="list_inner">
		<div class="verflow_s">
			<table width="100%" border="0" cellspacing="1" cellpadding="0" class="list_table_s">
			  <tr>
				<th><input type="checkbox" name="checkbox" value="checkbox" /></th>
				<th>模板编号</th>
				<th>模板名称</th>
				<th>创建人</th>
				<th>创建时间</th>
		      </tr>
			  <tr>
				<td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
				<td>WT20110815001</td>
				<td>HT20110815001</td>
				<td>QD20110815001</td>
				<td>易网通</td>
			  </tr>
			  <tr class="td_bgcolor">
				<td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
				<td>WT20110815001</td>
				<td>HT20110815001</td>
				<td>QD20110815001</td>
				<td>易网通</td>
			  </tr>
			  <tr>
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
			  <tr class="td_bgcolor">
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
			  
			  
			  <tr>
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
			  <tr class="td_bgcolor">
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
			  
			  
			  <tr>
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
			  <tr class="td_bgcolor">
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
			  
			  
			  <tr>
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
			  <tr class="td_bgcolor">
                <td><input type="checkbox" name="checkbox2" value="checkbox" /></td>
			    <td>WT20110815001</td>
			    <td>HT20110815001</td>
			    <td>QD20110815001</td>
			    <td>易网通</td>
		      </tr>
		  </table>
		 </div> 
		  <div class="page">共有5页45条记录，当前为第2页    <a href="#" title="">首页</a> <a href="#" title="">上一页</a> <a href="#" title="">下一页</a> <a href="#" title="">尾页</a> 每页
		    <input type="text" class="page_input" value="10" />
		    条 到第<input type="text" class="page_input" value="2" />
		    页 <input type="button" value="" class="go_button" />
		  </div>
		  
		</div>
	</div>
	


</body>
</html>