<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 4.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>易网通报关系统</title>

<link href="../css/customsDeclaration.css" rel="stylesheet" type="text/css" />
</head>

<body class="right_body">



	<div class="path">您现在的位置： 首页 &gt; 报关系统 &gt; 基础数据 &gt; 委托书导入模板 &gt; 新增委托书导入模板</div>
		
			<div class="public_div">
				<h2>
					<span class="fl">委托书导入模板信息</span>
					<span class="fr"></span><!--  span里无内容时，此span不能删除  -->
				</h2>
				<div class="public_inner">
				
				<div class="top_button_div">
					<input name="" type="button" class="save_button2" />
				</div>
				
				<table border="0" cellpadding="0" cellspacing="1" class="public_table">
					  <tr>
					    <th colspan="6">委托书模板信息</th>
			      </tr>
					  <tr>
					    <td class="td_w_s text_r"><span class="text_r">模板编号：</span></td>
					    <td colspan="2"><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td class="td_w_s text_r"> 模板名称：</td>
					    <td colspan="2"><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
					  <tr>
					    <td class="td_w_s text_r">创建人：</td>
					    <td colspan="2"><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td class="td_w_s text_r">创建时间：</td>
                        <td colspan="2"><input type="text" name="textfield32" class="input_s_1" /></td>
                  </tr>
				  <tr>
					    <th colspan="6">委托书信息</th>
			      </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r">&nbsp;</td>
					    <td class="td_bgcolor2">行</td>
					    <td class="td_bgcolor2">列</td>
					    <td class="td_w_s text_r">&nbsp;</td>
					    <td class="td_bgcolor2">行</td>
					    <td class="td_bgcolor2">列</td>
			      </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"><span class="text_r">委托单号：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"> 合同号：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r">委托单位：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"> 到达日期：</td>
                        <td><input type="text" name="textfield3" class="input_s_1" /></td>
                        <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r">贸易性质：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">出货日期：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"> 运输方式：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">进出区：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"> 报关类型：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r">报关方式：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"><span class="text_r">能否拼车：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r">车牌：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
                        <td class="td_w_s text_r"> 司机电话：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">车型：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
					  
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"> 收货单位：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">收货人姓名：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"> 收货人手机：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">收货人电话：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r v_t">收货人地址：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r">备注：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr>
					    <th colspan="6">商品模板信息</th>
			      </tr>
					  <tr>
                        <td class="td_w_s text_r"> 商品总数量：</td>
					    <td colspan="2"><input type="text" name="textfield2" class="input_s_3" />
					      个</td>
					    <td class="td_w_s text_r"><span class="text_r">商品起始行：</span></td>
					    <td colspan="2"><input type="text" name="textfield3" class="input_s_3" />
					      行</td>
			      </tr>
					  <tr>
                        <th colspan="6">商品信息</th>
			      </tr>
					  <tr class="table_td_c">
                        <td class="td_w_s text_r">&nbsp;</td>
					    <td class="td_bgcolor2">行</td>
					    <td class="td_bgcolor2">列</td>
					    <td class="td_w_s text_r">&nbsp;</td>
					    <td class="td_bgcolor2">行</td>
					    <td class="td_bgcolor2">列</td>
			      </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r">商品编码：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r">包装：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"><span class="text_r">商品名称：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r">件数：</td>
                        <td><input type="text" name="textfield3" class="input_s_1" /></td>
                        <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  
					  <tr class="table_td_c">
					    <td class="td_w_s text_r"> 规格型号：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">品牌：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
				  </tr>
					  <tr class="table_td_c">
                        <td class="td_w_s text_r">是否商检：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"> 申报描述：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
					  <tr class="table_td_c">
                        <td class="td_w_s text_r"><span class="text_r">净重：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r">调度人员：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
					  <tr class="table_td_c">
                        <td class="td_w_s text_r"> 毛重：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">仓储人员：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
					  
					  <tr class="table_td_c">
                        <td class="td_w_s text_r"> 数量：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"><span class="text_r">单位：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
					  <tr class="table_td_c">
                        <td class="td_w_s text_r">单价：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r"> 总价：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
					  <tr class="table_td_c">
                        <td class="td_w_s text_r"><span class="text_r">原产国：</span></td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
					    <td class="td_w_s text_r">币制：</td>
					    <td><input type="text" name="textfield3" class="input_s_1" /></td>
					    <td><input type="text" name="textfield32" class="input_s_1" /></td>
			      </tr>
				  </table>
			  </div>
			</div>
			  
</body>
</html>